name: Build and Push express app

on:
  push:
    branches:
      - main
    paths:
      - 'express-app/**'
      - '.github/workflows/express-app.yml'

defaults:
  run:
    working-directory: express-app

jobs:
  docker:
    name: Build and Push Express App Docker Image
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: roy562/express-app:latest